:root {
  --fisrt-title-color: #ffffff;
  --second-title-color: #303030;
  --fisrt-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-mb: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
}

.pre-title {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  gap: var(--typical-mb);
}

.pre-title::before {
  content: '';
  background-color: currentColor;
  width: 60px;
  height: 1px;
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*--------- header */

.header {
  background-color: rgb(141, 139, 138);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-logo-icon {
  fill: var(--second-title-color);
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link,
.header-phone {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-connect {
  margin-left: auto;
}

.header-btn {
  color: --fisrt-btn-color;
  margin-left: 30px;
}

/*--------- hero */

.hero-container {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero-link {
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-content {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-mb);
  display: flex;
}

.hero-title {
  color: var(--fisrt-title-color);
  font-family: Raleway, sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: var(--typical-mb);
}

.hero-after-title {
  color: #9da4bd;
  max-width: 360px;
}

/*--------- about */

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-content {
  max-width: 470px;
}

.about-pre-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-mb);
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-mb);
}

.about-after-title {
  color: #555;
  margin-bottom: var(--typical-mb);
}

.about-text {
  color: #555;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02;
  margin-bottom: 42px;
}

.about-btn {
  color: --second-btn-color;
}

/*--------- prices */
.prices {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.7),
      rgba(25, 28, 38, 0.7)
    ),
    url(../img/prices-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices-wrap {
  display: flex;
  gap: 30px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-mb);
}

.prices-title {
  color: var(--fisrt-title-color);
  margin-bottom: 44px;
}

.prices-list {
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item::after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);

  flex-grow: 1;
}

.prices-item + .prices-item {
  margin-top: var(--typical-mb);
}

.prices-item-text {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.prices-item-text:last-child {
  order: 1;
}

.prices-btn {
  color: var(--fisrt-btn-color);
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}

/*--------- benefits */

.benefits-container {
  display: flex;
}

.benefits-list {
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 30px;
}

.benefits-item {
  text-align: center;
  border: 1px solid brown;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}

.benefits-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
}

.benefits-item span {
  color: var(--second-title-color);
  font-size: 42px;
  font-weight: 700;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.benefits-item-text {
  color: var(--second-title-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  margin-top: 6px;
}

.benefits-content {
  max-width: 500px;
}

.benefits-pre-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-mb);
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-mb);
}

.benefits-after-title {
  color: #555555;
}

/*--------- barbers */

.barbers-pre-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-mb);
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-item-title {
  color: var(--second-title-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(25 / 18);
  letter-spacing: 0.02em;
  margin-top: 30px;
  margin-bottom: 8px;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-item-text {
  color: var(--accent-color);
  text-align: center;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-link {
  width: 44px;
  height: 44px;
  color: var(--second-title-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barbers-soc-link:hover,
.barbers-soc-link:focus {
  color: var(--accent-color);
}

.barbers-sort-icon {
  fill: currentColor;
}

/*--------- gallery */

.gallery-pre-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}

.gallery-list {
  display: flex;
  gap: 30px;
}
