:root {
  --fisrt-title-color: #ffffff;
  --second-title-color: #303030;
  --fisrt-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-mb: 20px;
  --hover: color 250ms linear;
  --hover-transition: 250ms linear;
  --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  --prices-bg-gradient: linear-gradient(
    rgba(25, 28, 38, 0.7),
    rgba(25, 28, 38, 0.7)
  );
}
