.about {
  &-container {
    display: flex;
    gap: 30px;
  }

  &-list {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  //  &-item + &-item {
  //   margin-top: 30px;

  //   @include desktop {
  //     margin-top: 0;
  //   }
  // }

  &-content {
    max-width: 418px;

    @include tablet {
      max-width: 330px;
    }

    @include desktop {
      max-width: 470px;
    }
  }

  &-pre-title {
    color: var(--second-title-color);
    margin-bottom: var(--typical-mb);
  }

  &-title {
    color: var(--second-title-color);
    margin-bottom: var(--typical-mb);
    width: 306px;

    @include tablet {
      width: 330px;
    }

    @include desktop {
      width: 470px;
    }
  }

  &-after-title {
    color: #555;
    margin-bottom: var(--typical-mb);
  }

  &-text {
    color: #555;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.28px;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 77px;
    }

    @include desktop {
      margin-bottom: 42px;
    }
  }

  &-btn {
    color: --second-btn-color;
  }
}
