.barbers {
  &-pre-title {
    color: var(--second-title-color);
    margin-bottom: var(--typical-mb);
  }

  &-title {
    color: var(--second-title-color);
    margin-bottom: 44px;
  }

  &-item-title {
    color: var(--second-title-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(25 / 18);
    letter-spacing: 0.02em;
    margin-top: 30px;
    margin-bottom: 8px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &-item {
    width: calc((100% - 60px) / 3);
    transition: var(--hover);

    &:hover .barbers-top-text {
      transform: translateY(0);
    }
  }

  &-top-wrapper {
    position: relative;
    overflow: hidden;
  }

  &-top-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.5;
    color: var(--fisrt-title-color);
    background-color: #ff6a0077;
    padding: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
  }

  &-item-text {
    color: var(--accent-color);
    text-align: center;
    font-size: 14px;
    line-height: calc(19 / 14);
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }

  &-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &-soc-link {
    width: 44px;
    height: 44px;
    color: var(--second-title-color);
    border-radius: 50%;
    @extend %align-list;
    justify-content: center;
    transition: var(--hover);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &-sort-icon {
    fill: currentColor;
  }
}
