.benefits {
  &-container {
    display: flex;

    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  &-list {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet {
      padding-left: 219px;
    }

    @include desktop {
      order: 1;
      margin-right: 30px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &-item {
    width: calc((100% - 30px) / 2);
    text-align: center;
    width: 170px;
    height: 193px;
    padding: 20px 35px;

    @include tablet {
      width: 210px;
      height: 133px;
      padding: 20px 44px;
    }

    @include desktop {
      width: 170px;
      height: 133px;
      padding: 20px 24px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-child(2n) {
      margin-top: 30px;
    }

    & span::after {
      content: '+';
      position: absolute;
      color: #ff6c00;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
    }

    & span {
      position: relative;
      color: var(--second-title-color);
      font-size: 42px;
      font-weight: 700;
      line-height: calc(57 / 42);
      letter-spacing: 0.05em;
    }

    &-text {
      color: var(--second-title-color);
      font-size: 11px;
      font-weight: 600;
      line-height: 1.36;
      margin-top: 6px;
    }
  }

  &-content {
    order: 1;
    max-width: 500px;
  }

  &-pre-title {
    color: var(--second-title-color);
    margin-bottom: var(--typical-mb);
  }

  &-title {
    color: var(--second-title-color);
    margin-bottom: var(--typical-mb);
  }

  &-after-title {
    color: #555555;
  }
}
