.booking-contacts-wrap {
  background-color: #191c26;
  padding-top: 130px;
  padding-bottom: 183px;
}

.booking-contacts {
  width: calc(100% / 2);
}

.booking-contacts-flex-container {
  display: flex;
  gap: 100px;
}
