.booking-contacts-wrap {
  background-color: #191c26;
  // padding-top: 130px;
  // padding-bottom: 183px;
}

.booking-contacts {
  width: 100%;
  @include desktop {
    width: calc(100% / 2);
  }
}

.booking-contacts-flex-container {
  @include desktop {
    display: flex;
    gap: 100px;
  }
}
