.contacts {
  padding-top: 84px;

  @include tablet {
    padding-top: 100px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    @include desktop {
      display: block;
    }
  }

  @include desktop {
    padding-top: 0;
  }

  &-working-hours-wrap {
    padding-top: 44px;

    @include tablet {
      padding-top: 89px;
    }

    @include desktop {
      padding-top: 70px;
    }
  }

  &-title {
    color: var(--fisrt-title-color);
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    margin-bottom: 40px;
  }

  &-item {
    @extend %align-list;
    gap: 16px;

    & + & {
      margin-top: var(--typical-mb);
    }
  }

  &-icon {
    fill: #9da4bd;
  }

  &-address {
    color: #9da4bd;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.66; /* 166.667% */
    letter-spacing: 0.36px;
  }

  &-link {
    color: #9da4bd;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.36px;
  }

  &-working-hours {
    color: #9da4bd;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    letter-spacing: 0.36px;

    &-title {
      color: var(--fisrt-title-color);
      font-size: 11px;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: var(--typical-mb);
    }
  }
}
