.footer {
  padding: 44px 0;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 56px 0;
  }

  &-copyright {
    margin-top: 20px;

    @include tablet {
      margin-top: 0;
      order: 1;
    }
  }

  &-list {
    align-self: end;
    @include tablet {
      order: 2;
    }
  }

  &-link,
  &-copyright {
    color: var(--second-title-color);
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
    text-transform: none;
    transition: var(--hover);
  }

  &-link:hover,
  &-link:focus {
    color: var(--accent-color);
  }
}
