.gallery {
  &-pre-title {
    color: var(--second-title-color);
    margin-bottom: 71px;

    @include tablet {
      margin-bottom: 44px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &-item {
    width: 100%;

    @include tablet {
      width: calc((100% - 30px) / 2);
    }

    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }
}
