.hero {
  .hero-container {
    display: flex;
  }

  &-soc {
    display: none;
    width: 100px;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;

    @include tablet {
      display: flex;
    }
  }

  &-list {
    @include tablet {
      display: flex;
      transform: rotate(-90deg) translateY(100%);
      transform-origin: bottom left;
      align-items: center;
      gap: 40px;

      &::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: #303030;
      }
    }
  }

  &-container {
    display: flex;
    padding-left: 0;
    padding-right: 0;

    @include mobile {
      max-width: 100%;
    }

    @include tablet {
      max-width: 720px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @include desktop {
      max-width: 1200px;
    }
  }

  &-link {
    color: #303030;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.2em;
    transition: var(--hover);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &-content {
    background-image: var(--bg-gradient), url(../img/hero/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 210px 30px;
    flex-grow: 1;
    @include retina {
      background-image: var(--bg-gradient), url(../img/hero/hero-bg-mob-2x.jpg);
    }

    @include tablet {
      padding: 272px 0px 237px 124px;
      background-image: var(--bg-gradient), url(../img/hero/hero-bg-tab.jpg);
      @include retina {
        background-image: var(--bg-gradient),
          url(../img/hero/hero-bg-tab-2x.jpg);
      }
    }

    @include desktop {
      padding: 272px 100px 208px 100px;
      background-image: var(--bg-gradient), url(../img/hero/hero-bg.jpg);
      @include retina {
        background-image: var(--bg-gradient), url(../img/hero/hero-bg-2x.jpg);
      }
    }
  }

  &-pre-title {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: var(--typical-mb);
    display: flex;
  }

  &-title {
    color: var(--fisrt-title-color);
    font-family: Raleway, sans-serif;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    margin-bottom: var(--typical-mb);

    @include mobile {
      font-size: 48px;
    }

    @include desktop {
      font-size: 72px;
    }
  }

  &-after-title {
    color: #9da4bd;
    max-width: 336px;

    @include tablet {
      max-width: 360px;
    }
  }
}
