.prices {
  background-image: var(--prices-bg-gradient),
    url(../img/prices/prices-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: var(--prices-bg-gradient),
      url(../img/prices/prices-bg-mob-2x.jpg);
  }

  @include tablet {
    background-image: var(--prices-bg-gradient),
      url(../img/prices/prices-bg-tab.jpg);
    @include retina {
      background-image: var(--prices-bg-gradient),
        url(../img/prices/prices-bg-tab-2x.jpg);
    }
  }

  @include desktop {
    padding: 120px 0;
    background-image: var(--prices-bg-gradient),
      url(../img/prices/prices-bg.jpg);
    @include retina {
      background-image: var(--prices-bg-gradient),
        url(../img/prices/prices-bg-2x.jpg);
    }
  }

  .prices-wrap {
    padding: 40px 30px;

    @include desktop {
      padding: 0;
      display: flex;
      gap: 30px;
    }
  }

  &-pre-title {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: var(--typical-mb);
  }

  &-title {
    color: var(--fisrt-title-color);
    margin-bottom: 44px;
    font-size: 40px;

    @include tablet {
      margin-bottom: 44px;
      font-size: 42px;
    }
  }

  &-list {
    & + & {
      margin-top: 20px;

      @include desktop {
        margin-top: 0;
      }
    }

    @include desktop {
      padding: 30px 20px;
      width: calc((100% - 30px) / 2);
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;

    &::after {
      content: '';
      width: 73px;
      height: 1px;
      background-color: rgba(157, 164, 189, 0.12);

      flex-grow: 1;

      @include tablet {
        width: 100px;
      }
    }

    & + & {
      margin-top: var(--typical-mb);
    }

    &-text {
      color: #9da4bd;
      font-size: 14px;
      line-height: 1.42;
      letter-spacing: 0.01em;

      @include tablet {
        font-size: 18px;
        letter-spacing: 0.02em;
        line-height: 1.66;
      }

      &:last-child {
        order: 1;
      }
    }
  }

  &-btn {
    color: var(--fisrt-btn-color);
    display: block;
    margin: 0 auto;
    margin-top: 44px;
  }
}
